.top-bar-inner {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.1);
}
.title10 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 36px;
  font-weight: 500;
  font-family: inherit;
  white-space: nowrap;
}
.title9 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.tab6,
.tab7,
.tab8 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 44px;
}
.tab7,
.tab8 {
  min-width: 34px;
}
.tab8 {
  min-width: 50px;
}
.icons-option {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Roboto;
}
.container2,
.top-bar2,
.top-bar3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.container2 {
  margin: 0;
  width: 208px;
  flex-direction: column;
  padding: 8px 0 0;
}
.top-bar2,
.top-bar3 {
  flex-direction: row;
  max-width: 100%;
}
.top-bar3 {
  flex: 1;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  padding: 20px;
  gap: 20px;
  text-align: left;
  font-size: 28px;
  color: #000;
  font-family: Roboto;
}
.top-bar2 {
  align-self: stretch;
  padding: 0 0 42px;
  top: 0;
  z-index: 99;
  position: sticky;
}
.title11 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-weight: 700;
  font-family: inherit;
}
.container3 {
  width: 266px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.icons1 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.icons-group,
.option-120 {
  display: flex;
  align-items: center;
}
.option-120 {
  height: 28px;
  flex: 1;
  position: relative;
  justify-content: center;
}
.icons-group {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.icons2 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.option-121 {
  height: 28px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button1,
.icons-container {
  display: flex;
  justify-content: flex-start;
}
.icons-container {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.button1 {
  width: 101px;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}
.icons3 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.icons-parent1,
.option-122 {
  display: flex;
  align-items: center;
}
.option-122 {
  height: 28px;
  flex: 1;
  position: relative;
  justify-content: center;
}
.icons-parent1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.icons4 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.option-123 {
  height: 28px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button2,
.icons-parent2 {
  display: flex;
  justify-content: flex-start;
}
.icons-parent2 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.button2 {
  width: 101px;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}
.icons5 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.icons-parent3,
.option-124 {
  display: flex;
  align-items: center;
}
.option-124 {
  height: 28px;
  flex: 1;
  position: relative;
  justify-content: center;
}
.icons-parent3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.icons6 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.option-125 {
  height: 28px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button3,
.icons-parent4 {
  display: flex;
  justify-content: flex-start;
}
.icons-parent4 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.button3 {
  width: 101px;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}
.icons7 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.icons-parent5,
.option-126 {
  display: flex;
  align-items: center;
}
.option-126 {
  height: 28px;
  flex: 1;
  position: relative;
  justify-content: center;
}
.icons-parent5 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.icons8 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.option-127 {
  height: 28px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button4,
.icons-parent6 {
  display: flex;
  justify-content: flex-start;
}
.icons-parent6 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.button4 {
  width: 106px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 5px 0 0;
  box-sizing: border-box;
  gap: 3px;
}
.icons9 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.icons-parent7,
.option-128 {
  display: flex;
  align-items: center;
}
.option-128 {
  height: 28px;
  flex: 1;
  position: relative;
  justify-content: center;
}
.icons-parent7 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.icons10 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.option-129 {
  height: 28px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button5,
.icons-parent8 {
  display: flex;
  justify-content: flex-start;
}
.icons-parent8 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.button5 {
  width: 106px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 5px 0 0;
  box-sizing: border-box;
  gap: 3px;
}
.icons11 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.icons-parent9,
.option-130 {
  display: flex;
  align-items: center;
}
.option-130 {
  height: 28px;
  flex: 1;
  position: relative;
  justify-content: center;
}
.icons-parent9 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.icons12 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.option-131 {
  height: 28px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button6,
.icons-parent10 {
  display: flex;
  justify-content: flex-start;
}
.icons-parent10 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.button6 {
  width: 106px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 5px 0 0;
  box-sizing: border-box;
  gap: 3px;
}
.icons13 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.icons-parent11,
.option-132 {
  display: flex;
  align-items: center;
}
.option-132 {
  height: 28px;
  flex: 1;
  position: relative;
  justify-content: center;
}
.icons-parent11 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.icons14 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.option-133 {
  height: 28px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button7,
.icons-parent12,
.list {
  display: flex;
  justify-content: flex-start;
}
.icons-parent12 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.button7,
.list {
  width: 106px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 5px 0 0;
  box-sizing: border-box;
  gap: 3px;
}
.list {
  width: 958px;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0 27px;
  max-width: 100%;
  gap: 20px;
  text-align: center;
  font-size: 12px;
}
.section-inner {
  height: 0.5px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -0.5px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
}
.section-wrapper,
.section2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.section2 {
  flex: 1;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 60px 0 0;
  position: relative;
  gap: 60px;
  min-height: 226px;
}
.section-wrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 6px;
}
.title12 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-weight: 700;
  font-family: inherit;
}
.container4 {
  width: 312px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 6px;
  box-sizing: border-box;
}
.icons15 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.icons-parent13,
.option-134 {
  display: flex;
  align-items: center;
}
.option-134 {
  height: 28px;
  flex: 1;
  position: relative;
  justify-content: center;
}
.icons-parent13 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.icons16 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.option-135 {
  height: 28px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons-parent14,
.instructions {
  display: flex;
  justify-content: flex-start;
}
.icons-parent14 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.instructions {
  width: 101px;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}
.icons17 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.icons-parent15,
.option-136 {
  display: flex;
  align-items: center;
}
.option-136 {
  height: 28px;
  flex: 1;
  position: relative;
  justify-content: center;
}
.icons-parent15 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.icons18 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.option-137 {
  height: 28px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons-parent16,
.instructions1 {
  display: flex;
  justify-content: flex-start;
}
.icons-parent16 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.instructions1 {
  width: 101px;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}
.icons19 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.icons-parent17,
.option-138 {
  display: flex;
  align-items: center;
}
.option-138 {
  height: 28px;
  flex: 1;
  position: relative;
  justify-content: center;
}
.icons-parent17 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.icons20 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.option-139 {
  height: 28px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons-parent18,
.instructions2 {
  display: flex;
  justify-content: flex-start;
}
.icons-parent18 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.instructions2 {
  width: 101px;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}
.icons21 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.icons-parent19,
.option-140 {
  display: flex;
  align-items: center;
}
.option-140 {
  height: 28px;
  flex: 1;
  position: relative;
  justify-content: center;
}
.icons-parent19 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.icons22 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.option-141 {
  height: 28px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons-parent20,
.instructions3 {
  display: flex;
  justify-content: flex-start;
}
.icons-parent20 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.instructions3 {
  width: 106px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 5px 0 0;
  box-sizing: border-box;
  gap: 3px;
}
.icons23 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.icons-parent21,
.option-142 {
  display: flex;
  align-items: center;
}
.option-142 {
  height: 28px;
  flex: 1;
  position: relative;
  justify-content: center;
}
.icons-parent21 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.icons24 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.option-143 {
  height: 28px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons-parent22,
.instructions4 {
  display: flex;
  justify-content: flex-start;
}
.icons-parent22 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.instructions4 {
  width: 106px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 5px 0 0;
  box-sizing: border-box;
  gap: 3px;
}
.icons25 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.icons-parent23,
.option-144 {
  display: flex;
  align-items: center;
}
.option-144 {
  height: 28px;
  flex: 1;
  position: relative;
  justify-content: center;
}
.icons-parent23 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.icons26 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.option-145 {
  height: 28px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons-parent24,
.instructions5 {
  display: flex;
  justify-content: flex-start;
}
.icons-parent24 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.instructions5 {
  width: 106px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 5px 0 0;
  box-sizing: border-box;
  gap: 3px;
}
.icons27 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.icons-parent25,
.option-146 {
  display: flex;
  align-items: center;
}
.option-146 {
  height: 28px;
  flex: 1;
  position: relative;
  justify-content: center;
}
.icons-parent25 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.icons28 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.option-147 {
  height: 28px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons-parent26,
.instructions6,
.list1 {
  display: flex;
  justify-content: flex-start;
}
.icons-parent26 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.instructions6,
.list1 {
  width: 106px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 5px 0 0;
  box-sizing: border-box;
  gap: 3px;
}
.list1 {
  width: 1001px;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px 27px;
  max-width: 100%;
  gap: 20px;
  text-align: center;
  font-size: 12px;
}
.vitamin-bmg-icon {
  height: 0.5px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -0.5px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
}
.frame-parent30,
.section3 {
  align-self: stretch;
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.section3 {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 73px 0 0;
  position: relative;
  gap: 60px;
  min-height: 252px;
  z-index: 1;
  margin-top: -42px;
}
.frame-parent30 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.title13 {
  margin: 0;
  width: 520px;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.description,
.title14 {
  position: relative;
  font-size: 16px;
  line-height: 24px;
}
.description {
  width: 520px;
  display: inline-block;
  max-width: 100%;
}
.title14 {
  font-weight: 500;
  font-family: Roboto;
  color: #fff;
  text-align: left;
}
.button8,
.container5,
.primary3 {
  display: flex;
  flex-direction: column;
}
.primary3 {
  border-radius: 8px;
  background-color: #000;
  align-items: center;
  justify-content: center;
  padding: 12px;
  white-space: nowrap;
}
.button8,
.container5 {
  justify-content: flex-start;
}
.button8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  overflow: hidden;
  align-items: flex-start;
}
.container5 {
  width: 930px;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  gap: 24px;
  max-width: 100%;
}
.vector-icon {
  height: 0.5px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -0.5px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
}
.frame-parent29,
.section-container,
.section4 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.section4 {
  flex: 1;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 0 0;
  position: relative;
  gap: 60px;
  min-height: 188px;
}
.frame-parent29,
.section-container {
  align-items: flex-start;
  justify-content: flex-start;
}
.section-container {
  width: 1364px;
  flex-direction: row;
  padding: 0 47px;
  text-align: center;
}
.frame-parent29 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 0 14px;
  gap: 42px;
  text-align: left;
  font-size: 40px;
  color: #000;
  font-family: Roboto;
}
.chef-page1-child,
.chef-page1-item {
  align-self: stretch;
  height: 1126px;
  position: relative;
  background-color: #fff;
  display: none;
}
.span10 {
  font-weight: 500;
  white-space: pre-wrap;
}
.buttery2,
.span10 {
  font-family: Roboto;
}
.blank-line16,
.flavour-profile-buttery2 {
  margin: 0;
}
.blank-line16,
.span11 {
  font-weight: 500;
}
.easy2,
.span11 {
  font-family: Roboto;
}
.difficulty-level-easy2 {
  margin: 0;
}
.blank-line17 {
  margin: 0;
  font-weight: 500;
}
.time-to-cook2 {
  font-family: Roboto;
}
.minutes2 {
  font-weight: 500;
}
.p2,
.time-to-cook-45-minutes2 {
  margin: 0;
}
.p2 {
  font-weight: 500;
}
.likes2 {
  font-family: Roboto;
}
.span12 {
  font-weight: 500;
}
.likes-2302 {
  margin: 0;
}
.blank-line18 {
  margin: 0;
  font-weight: 500;
}
.cuisines2 {
  font-family: Roboto;
}
.american2 {
  font-weight: 500;
}
.cuisines-american2 {
  margin: 0;
}
.blank-line19 {
  margin: 0;
  font-weight: 500;
}
.dish-types2 {
  font-family: Roboto;
}
.main-dish2 {
  font-weight: 500;
}
.dish-types-main-dish2 {
  margin: 0;
}
.blank-line20 {
  margin: 0;
  font-weight: 500;
}
.span13 {
  font-weight: 500;
  font-family: Roboto;
}
.calories-5302 {
  margin: 0;
}
.blank-line21 {
  margin: 0;
  font-weight: 500;
}
.span14 {
  font-weight: 500;
  font-family: Roboto;
}
.price-per-servings-560512 {
  margin: 0;
}
.subtitle2 {
  width: 354px;
  position: relative;
  line-height: 28px;
  text-align: left;
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  max-width: 100%;
}
.title15 {
  position: absolute;
  width: calc(100% - 32px);
  top: calc(50% - 8px);
  left: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
}
.image1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(217, 217, 217, 0.5);
  width: 100%;
  height: 100%;
}
.card2,
.title-fried-container2 {
  position: relative;
  display: none;
  flex-shrink: 0;
  max-width: 100%;
}
.card2 {
  width: 370px;
  height: 340px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden;
  font-size: 12px;
}
.title-fried-container2 {
  width: 873px;
  height: 44px;
  font-size: 40px;
  line-height: 48px;
}
.blank-line22,
.blank-line23,
.ironmg-7225 {
  margin: 0;
}
.folateg-96752,
.ironmg-7224,
.vitamin-b2mg-2 {
  height: 39px;
  position: relative;
  line-height: 48px;
  display: none;
  flex-shrink: 0;
}
.ironmg-7224 {
  width: 138px;
  text-align: left;
}
.folateg-96752,
.vitamin-b2mg-2 {
  width: 198px;
}
.calciummg-29512,
.fiberg-1162,
.potassiummg-778812,
.vitamin-b1mg-2,
.vitamin-emg-2 {
  width: 264px;
  height: 39px;
  position: relative;
  line-height: 48px;
  display: none;
  flex-shrink: 0;
}
.calciummg-29512,
.fiberg-1162,
.vitamin-b1mg-2,
.vitamin-emg-2 {
  width: 198px;
}
.ingredients-anchovies-container2,
.instructions-if-container2 {
  width: 967px;
  position: relative;
  line-height: 48px;
  text-align: left;
  display: none;
  max-width: 100%;
}
.ingredients-anchovies-container2 {
  width: 935px;
  height: 95px;
  flex-shrink: 0;
}
.nutrient-information2 {
  width: 319px;
  position: relative;
  font-size: 30px;
  line-height: 48px;
  display: none;
}
.chef-page1-inner,
.container-child {
  align-self: stretch;
  height: 1126px;
  position: relative;
  background-color: #fff;
  display: none;
}
.container-child {
  z-index: 1;
}
.ingredients-anchovies-container3,
.title-fried-container3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  display: inline-block;
  max-width: 100%;
  font-family: inherit;
}
.title-fried-container3 {
  width: 873px;
  height: 44px;
  flex-shrink: 0;
  z-index: 8;
}
.ingredients-anchovies-container3 {
  height: 95px;
  flex: 1;
  z-index: 9;
}
.anchovies-title {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 38px;
  box-sizing: border-box;
  text-align: left;
  font-size: 20px;
}
.anchovies-title,
.description1,
.title16 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.description1 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 39px;
}
.title16 {
  width: 1033px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 30px;
  box-sizing: border-box;
}
.span15 {
  font-weight: 500;
  white-space: pre-wrap;
}
.buttery3,
.span15 {
  font-family: Roboto;
}
.blank-line24,
.flavour-profile-buttery3 {
  margin: 0;
}
.blank-line24,
.span16 {
  font-weight: 500;
}
.easy3,
.span16 {
  font-family: Roboto;
}
.difficulty-level-easy3 {
  margin: 0;
}
.blank-line25 {
  margin: 0;
  font-weight: 500;
}
.time-to-cook3 {
  font-family: Roboto;
}
.minutes3 {
  font-weight: 500;
}
.p3,
.time-to-cook-45-minutes3 {
  margin: 0;
}
.p3 {
  font-weight: 500;
}
.likes3 {
  font-family: Roboto;
}
.span17 {
  font-weight: 500;
}
.likes-2303 {
  margin: 0;
}
.blank-line26 {
  margin: 0;
  font-weight: 500;
}
.cuisines3 {
  font-family: Roboto;
}
.american3 {
  font-weight: 500;
}
.cuisines-american3 {
  margin: 0;
}
.blank-line27 {
  margin: 0;
  font-weight: 500;
}
.dish-types3 {
  font-family: Roboto;
}
.main-dish3 {
  font-weight: 500;
}
.dish-types-main-dish3 {
  margin: 0;
}
.blank-line28 {
  margin: 0;
  font-weight: 500;
}
.span18 {
  font-weight: 500;
  font-family: Roboto;
}
.calories-5303 {
  margin: 0;
}
.blank-line29 {
  margin: 0;
  font-weight: 500;
}
.span19 {
  font-weight: 500;
  font-family: Roboto;
}
.price-per-servings-560513 {
  margin: 0;
}
.subtitle3 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  z-index: 8;
  font-family: inherit;
}
.subtitle-wrapper {
  width: 354px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 185px 0 0;
  box-sizing: border-box;
  min-width: 354px;
  max-width: 100%;
}
.instructions-if-container3 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  display: inline-block;
  min-width: 629px;
  max-width: 100%;
  z-index: 8;
  font-family: inherit;
}
.frame-parent32 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 64px;
  max-width: 100%;
}
.nutrient-information3 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-weight: 700;
  font-family: inherit;
  z-index: 8;
}
.nutrient-information-container {
  width: 319px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 31px 0 0;
  box-sizing: border-box;
}
.folateg-96753,
.potassiummg-778813 {
  width: 198px;
  position: relative;
  line-height: 39px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 8;
}
.potassiummg-778813 {
  margin-left: -24px;
  width: 264px;
  height: 39px;
  line-height: 48px;
  z-index: 9;
}
.potassiummg-77881-container {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.calciummg-29513 {
  width: 198px;
  position: relative;
  line-height: 39px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 10;
}
.folateg-9675-group,
.frame-wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.folateg-9675-group {
  flex: 1;
  justify-content: flex-start;
  row-gap: 20px;
}
.frame-wrapper3 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 2px 0 0;
  box-sizing: border-box;
}
.vitamin-emg-3 {
  margin: 0;
  align-self: stretch;
  height: 39px;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 10;
}
.blank-line30,
.blank-line31,
.ironmg-7227 {
  margin: 0;
}
.ironmg-7226 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 39px;
  font-weight: 700;
  font-family: inherit;
  z-index: 8;
}
.ironmg-722-container,
.vitamin-emg-109-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ironmg-722-container {
  width: 154px;
  flex-direction: row;
  padding: 0 8px;
  box-sizing: border-box;
  text-align: left;
}
.vitamin-emg-109-group {
  flex: 1;
  flex-direction: column;
  gap: 4px;
  min-width: 129px;
}
.fiberg-1163 {
  width: 198px;
  height: 39px;
  position: relative;
  line-height: 48px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 11;
}
.vitamin-b1mg-3 {
  flex: 1;
  position: relative;
  line-height: 39px;
  z-index: 8;
}
.vitamin-b1mg-042-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 9px;
}
.fiberg-116-group,
.frame-parent34 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.fiberg-116-group {
  flex-direction: column;
  gap: 4px;
  min-width: 135px;
  margin-left: -9px;
}
.frame-parent34 {
  flex-direction: row;
  min-width: 257px;
  max-width: 100%;
  row-gap: 20px;
}
.vitamin-b2mg-3 {
  height: 39px;
  width: 198px;
  position: relative;
  line-height: 48px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 8;
}
.frame-parent33,
.nutrient-info-item {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.nutrient-info-item {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: 35px;
}
.frame-parent33 {
  width: 638px;
  flex-direction: column;
  align-items: flex-end;
  min-width: 638px;
  font-size: 20px;
}
.iron-vitamin-bmg {
  width: 1059px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: 20px;
  text-align: center;
  font-size: 30px;
}
.card3,
.container6,
.frame-parent31 {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}
.frame-parent31 {
  width: 1405px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 20px;
  gap: 61px;
  max-width: 100%;
  margin-top: -4px;
  text-align: left;
  font-size: 20px;
}
.card3,
.container6 {
  position: absolute;
}
.container6 {
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  padding: 70px 2px 77px;
  max-width: 100%;
  height: 100%;
  z-index: 7;
}
.card3 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(217, 217, 217, 0.5);
  height: 340px;
  width: 370px;
  outline: 0;
  top: 70px;
  left: 51.5px;
  border-radius: 6px;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  padding: 162px 16px;
  font-family: Roboto;
  font-size: 12px;
  color: #000;
  z-index: 8;
}
.container-parent {
  height: 1126px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.chef-page1,
.chef-page1-inner1 {
  display: flex;
  box-sizing: border-box;
  text-align: center;
  color: #000;
  font-family: Roboto;
}
.chef-page1-inner1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 2px 0 0;
  max-width: 100%;
  font-size: 40px;
}
.chef-page1 {
  width: 100%;
  position: relative;
  background-color: #c6e6c5;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 210px;
  letter-spacing: normal;
  font-size: 20px;
}
@media screen and (max-width: 625px) {
  .title11 {
    font-size: 32px;
    line-height: 38px;
  }
  .section2 {
    gap: 60px 30px;
  }
  .title12 {
    font-size: 32px;
    line-height: 38px;
  }
  .section3 {
    gap: 60px 30px;
  }
  .title13 {
    font-size: 32px;
    line-height: 38px;
  }
  .frame-parent29 {
    gap: 21px 42px;
  }
  .title-fried-container2 {
    font-size: 32px;
    line-height: 38px;
  }
  .nutrient-information2 {
    font-size: 24px;
    line-height: 38px;
  }
  .title-fried-container3 {
    font-size: 32px;
    line-height: 38px;
  }
  .description1 {
    gap: 19px 39px;
  }
  .instructions-if-container3 {
    min-width: 100%;
  }
  .frame-parent32 {
    gap: 64px 32px;
  }
  .nutrient-information3 {
    font-size: 24px;
    line-height: 38px;
  }
  .folateg-9675-group {
    flex-wrap: wrap;
  }
  .nutrient-info-item {
    flex-wrap: wrap;
    gap: 35px 17px;
  }
  .frame-parent33 {
    min-width: 100%;
  }
  .frame-parent31 {
    gap: 30px 61px;
  }
}
@media screen and (max-width: 450px) {
  .title11,
  .title12,
  .title13 {
    font-size: 24px;
    line-height: 29px;
  }
  .subtitle2 {
    font-size: 16px;
    line-height: 22px;
  }
  .title-fried-container2 {
    font-size: 24px;
    line-height: 29px;
  }
  .calciummg-29512,
  .fiberg-1162,
  .folateg-96752,
  .ingredients-anchovies-container2,
  .instructions-if-container2,
  .ironmg-7224,
  .potassiummg-778812,
  .vitamin-b1mg-2,
  .vitamin-b2mg-2,
  .vitamin-emg-2 {
    font-size: 16px;
    line-height: 38px;
  }
  .nutrient-information2 {
    font-size: 18px;
    line-height: 29px;
  }
  .title-fried-container3 {
    font-size: 24px;
    line-height: 29px;
  }
  .ingredients-anchovies-container3,
  .subtitle3 {
    font-size: 16px;
    line-height: 38px;
  }
  .subtitle3 {
    line-height: 22px;
  }
  .subtitle-wrapper {
    min-width: 100%;
  }
  .instructions-if-container3 {
    font-size: 16px;
    line-height: 38px;
  }
  .frame-parent32 {
    gap: 64px 16px;
  }
  .nutrient-information3 {
    font-size: 18px;
    line-height: 29px;
  }
  .calciummg-29513,
  .fiberg-1163,
  .folateg-96753,
  .ironmg-7226,
  .potassiummg-778813,
  .vitamin-b1mg-3,
  .vitamin-emg-3 {
    font-size: 16px;
    line-height: 38px;
  }
  .fiberg-116-group {
    margin-left: 0;
  }
  .frame-parent34 {
    flex-wrap: wrap;
  }
  .vitamin-b2mg-3 {
    font-size: 16px;
    line-height: 38px;
  }
  .frame-parent31 {
    gap: 15px 61px;
  }
}
