.top-bar-child {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
}
.tab,
.tab1,
.tab2,
.title3 {
  position: absolute;
  display: inline-block;
}
.title3 {
  width: 100%;
  top: 22px;
  left: 80px;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
}
.tab,
.tab1,
.tab2 {
  top: 28px;
  left: 1212px;
  line-height: 24px;
  min-width: 44px;
}
.tab1,
.tab2 {
  left: 1296px;
  min-width: 34px;
}
.tab2 {
  left: 1370px;
  min-width: 50px;
}
.home-page1-child,
.home-page1-item,
.top-bar {
  align-self: stretch;
  position: relative;
  background-color: #fff;
  display: none;
}
.top-bar {
  height: 80px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  flex-shrink: 0;
  text-align: left;
  font-size: 16px;
}
.home-page1-child,
.home-page1-item {
  height: 1126px;
}
.span {
  font-weight: 500;
  white-space: pre-wrap;
}
.buttery,
.span {
  font-family: Roboto;
}
.blank-line,
.flavour-profile-buttery {
  margin: 0;
}
.blank-line,
.span1 {
  font-weight: 500;
}
.easy,
.span1 {
  font-family: Roboto;
}
.difficulty-level-easy {
  margin: 0;
}
.blank-line1 {
  margin: 0;
  font-weight: 500;
}
.time-to-cook {
  font-family: Roboto;
}
.minutes {
  font-weight: 500;
}
.p,
.time-to-cook-45-minutes {
  margin: 0;
}
.p {
  font-weight: 500;
}
.likes {
  font-family: Roboto;
}
.span2 {
  font-weight: 500;
}
.likes-230 {
  margin: 0;
}
.blank-line2 {
  margin: 0;
  font-weight: 500;
}
.cuisines {
  font-family: Roboto;
}
.american {
  font-weight: 500;
}
.cuisines-american {
  margin: 0;
}
.blank-line3 {
  margin: 0;
  font-weight: 500;
}
.dish-types {
  font-family: Roboto;
}
.main-dish {
  font-weight: 500;
}
.dish-types-main-dish {
  margin: 0;
}
.blank-line4 {
  margin: 0;
  font-weight: 500;
}
.span3 {
  font-weight: 500;
  font-family: Roboto;
}
.calories-530 {
  margin: 0;
}
.blank-line5 {
  margin: 0;
  font-weight: 500;
}
.span4 {
  font-weight: 500;
  font-family: Roboto;
}
.price-per-servings-56051 {
  margin: 0;
}
.subtitle {
  width: 354px;
  position: relative;
  line-height: 28px;
  text-align: left;
  display: none;
  text-overflow: ellipsis;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  max-width: 100%;
}
.image,
.title4 {
  position: absolute;
}
.title4 {
  width: calc(100% - 32px);
  top: calc(50% - 8px);
  left: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
}
.image {
  top: 0;
  left: 0;
  background-color: rgba(217, 217, 217, 0.5);
  width: 100%;
  height: 100%;
}

.title-fried-container {
  position: relative;
  display: none;
  flex-shrink: 0;
  max-width: 100%;
}
.card {
  width: 370px;
  height: 340px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-size: 12px;
}
.title-fried-container {
  width: 873px;
  height: 44px;
  font-size: 40px;
  line-height: 48px;
}
.blank-line6,
.blank-line7,
.ironmg-7221 {
  margin: 0;
}
.folateg-9675,
.ironmg-722,
.vitamin-b2mg- {
  height: 39px;
  position: relative;
  line-height: 48px;
  display: none;
  flex-shrink: 0;
}
.ironmg-722 {
  width: 138px;
  text-align: left;
}
.folateg-9675,
.vitamin-b2mg- {
  width: 198px;
}
.calciummg-2951,
.fiberg-116,
.potassiummg-77881,
.vitamin-b1mg-,
.vitamin-emg- {
  width: 264px;
  height: 39px;
  position: relative;
  line-height: 48px;
  display: none;
  flex-shrink: 0;
}
.calciummg-2951,
.fiberg-116,
.vitamin-b1mg-,
.vitamin-emg- {
  width: 198px;
}
.ingredients-anchovies-container,
.instructions-if-container {
  width: 967px;
  line-height: 48px;
  text-align: left;
  display: none;
  max-width: 100%;
}
.ingredients-anchovies-container {
  width: 935px;
  height: 95px;
  flex-shrink: 0;
}
.nutrient-information {
  width: 319px;
  position: relative;
  font-size: 30px;
  line-height: 48px;
  display: none;
}
.top-bar-item {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.1);
}
.title5 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 36px;
  font-weight: 500;
  font-family: inherit;
  white-space: nowrap;
}
.navigation-tabs {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.tab3,
.tab4,
.tab5 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 44px;
}
.tab4,
.tab5 {
  min-width: 34px;
}
.tab5 {
  min-width: 50px;
}
.navigation {
  align-self: stretch;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.navigation-wrapper,
.top-bar1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.navigation-wrapper {
  width: 208px;
  flex-direction: column;
  padding: 8px 0 0;
  font-size: 16px;
}
.top-bar1 {
  align-self: stretch;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  flex-direction: row;
  padding: 20px;
  gap: 20px;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: 28px;
  cursor: pointer; /* Add this line */
 }
 
.ic-search-icon,
.text5 {
  height: 20px;
  position: relative;
}
.text5 {
  width: calc(100% - 34px);
  border: 0;
  outline: 0;
  font-family: Roboto;
  font-size: 14px;
  background-color: transparent;
  flex: 1;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  display: inline-block;
  min-width: 150px;
  max-width: calc(100% - 24px);
  padding: 0;
}
.ic-search-icon {
  width: 20px;
  min-height: 20px;
}
.container,
.textfield6 {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
}
.textfield6 {
  width: 488px;
  border-radius: 6px;
  border: 1px solid #000;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px 7px;
  gap: 4px;
}
.container {
  width: 1100px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20px;
}
.section,
.section-child {
  max-width: 100%;
}
.section-child {
  height: 0.5px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -0.5px;
  left: 0;
}
.section {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 60px 0 0;
  box-sizing: border-box;
  position: relative;
  gap: 60px;
}
.ic-search-icon1,
.text6 {
  height: 20px;
  position: relative;
}
.text6 {
  width: calc(100% - 34px);
  border: 0;
  outline: 0;
  font-family: Roboto;
  font-size: 14px;
  background-color: transparent;
  flex: 1;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  display: inline-block;
  min-width: 150px;
  max-width: calc(100% - 24px);
  padding: 0;
}
.ic-search-icon1 {
  width: 20px;
  min-height: 20px;
  background: transparent; /* Make the button's background transparent */
  border: none; /* Remove the button's border */
  padding: 0; /* Remove any padding inside the button */
  display: inline-block; /* Ensure the button is inline with other elements */
  cursor: pointer; /* Change the cursor to a pointer when hovering over the button */
 }
 .ic-search-icon1 img {
  width: 100%; /* Make the image fill the width of the button */
  height: auto; /* Maintain the aspect ratio of the image */
 }

.container1,
.textfield7 {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
}
.textfield7 {
  width: 488px;
  border-radius: 1000px;
  border: 1px solid #000;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px 10px;
  gap: 100px;
}
.container1 {
  width: 1100px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}
.section-item {
  height: 0.5px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -0.5px;
  left: 0;
  max-width: 100%;
}
.section-parent,
.section1 {
  align-self: stretch;
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.section1 {
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 60px 0 0;
  position: relative;
  gap: 60px;
  z-index: 2;
  margin-top: -180px;
}
.section-parent {
  height: 180px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0;
}
.title6,
.title7 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.title7 {
  z-index: 3;
  margin: 0 0 0-520px;
}
.frame-section,
.frame-wrapper2,
.title-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.title-parent {
  width: 520px;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-section,
.frame-wrapper2 {
  box-sizing: border-box;
}
.frame-wrapper2 {
  width: 1404px;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
}
.frame-section {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 2px 35px 0;
  text-align: center;
  font-size: 40px;
  color: #000;
  font-family: Roboto;
}
.frame-child,
.home-page1-inner {
  align-self: stretch;
  height: 1126px;
  position: relative;
  background-color: #fff;
  display: none;
}
.frame-child {
  z-index: 1;
}
.ingredients-anchovies-container1,
.title-fried-container1 {
  position: relative;
  line-height: 48px;
  display: inline-block;
  max-width: 100%;
}
.title-fried-container1 {
  margin: 0;
  width: 873px;
  height: 44px;
  font-size: inherit;
  flex-shrink: 0;
  z-index: 8;
  font-family: inherit;
}
.ingredients-anchovies-container1 {
  height: 95px;
  flex: 1;
  left: 190px;
  z-index: 9;
  position: relative;
  bottom: 350px;
}
.ingredients-anchovies-veget-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 38px;
  box-sizing: border-box;
  text-align: left;
  font-size: 20px;
}
.ingredients-anchovies-veget-wrapper,
.title-wrapper,
.title8 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.title8 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 100px;
}
.title-wrapper {
  width: 1033px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 30px;
  box-sizing: border-box;
}
.span5 {
  font-weight: 500;
  white-space: pre-wrap;
}
.buttery1,
.span5 {
  font-family: Roboto;
}
.blank-line8,
.flavour-profile-buttery1 {
  margin: 0;
}
.blank-line8,
.span6 {
  font-weight: 500;
}
.easy1,
.span6 {
  font-family: Roboto;
}
.difficulty-level-easy1 {
  margin: 0;
}
.blank-line9 {
  margin: 0;
  font-weight: 500;
}
.time-to-cook1 {
  font-family: Roboto;
}
.minutes1 {
  font-weight: 500;
}
.p1,
.time-to-cook-45-minutes1 {
  margin: 0;
}
.p1 {
  font-weight: 500;
}
.likes1 {
  font-family: Roboto;
}
.span7 {
  font-weight: 500;
}
.likes-2301 {
  margin: 0;
}
.blank-line10 {
  margin: 0;
  font-weight: 500;
}
.cuisines1 {
  font-family: Roboto;
}
.american1 {
  font-weight: 500;
}
.cuisines-american1 {
  margin: 0;
}
.blank-line11 {
  margin: 0;
  font-weight: 500;
}
.dish-types1 {
  font-family: Roboto;
}
.main-dish1 {
  font-weight: 500;
}
.dish-types-main-dish1 {
  margin: 0;
}
.blank-line12 {
  margin: 0;
  font-weight: 500;
}
.span8 {
  font-weight: 500;
  font-family: Roboto;
}
.calories-5301 {
  margin: 0;
}
.blank-line13 {
  margin: 0;
  font-weight: 500;
}
.span9 {
  font-weight: 500;
  font-family: Roboto;
}
.price-per-servings-560511 {
  margin: 0;
}
.subtitle1 {
  align-self: stretch;
  position: relative;
  line-height: 28px;
  display: -webkit-inline-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  z-index: 8;
}
.recipe-card-image {
  width: 354px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 185px 0 0;
  box-sizing: border-box;
  min-width: 354px;
  max-width: 100%;
}
.instructions-if-container1 {
  position: relative;
  line-height: 48px;
  display: inline-block;
  min-width: 629px;
  max-width: 100%;
  z-index: 8;
}
.recipe-card-image-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 64px;
  max-width: 100%;
  position: relative;
  bottom: 340px;
}
.nutrient-information1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-weight: 700;
  font-family: inherit;
  z-index: 8;
}
.nutrient-information-wrapper {
  width: 319px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 31px 0 0;
  box-sizing: border-box;
}
.folateg-96751,
.potassiummg-778811 {
  width: 198px;
  position: relative;
  line-height: 39px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 8;
}
.potassiummg-778811 {
  margin-left: -24px;
  width: 264px;
  height: 39px;
  line-height: 48px;
  z-index: 9;
}
.potassiummg-77881-wrapper {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.calciummg-29511 {
  width: 198px;
  position: relative;
  line-height: 39px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 10;
}
.folateg-9675-parent,
.if-you-havent-tried-anchovies-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.folateg-9675-parent {
  flex: 1;
  justify-content: flex-start;
  row-gap: 20px;
}
.if-you-havent-tried-anchovies-inner {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 2px 0 0;
  box-sizing: border-box;
}
.vitamin-emg-1 {
  align-self: stretch;
  height: 39px;
  position: relative;
  line-height: 48px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 10;
}
.blank-line14{
  margin: 0;
  font-weight: 500;
}
.blank-line15{
  margin: 0;
  font-weight: 500;
}
.blank-line16 {
  margin: 0;
  font-weight: 500;
}
.blank-line17 {
  margin: 0;
  font-weight: 500;
}
.blank-line18 {
  margin: 0;
  font-weight: 500;
}
.ironmg-7223 {
  margin: 0;
}
.ironmg-7222 {
  flex: 1;
  position: relative;
  line-height: 39px;
  z-index: 8;
}
.ironmg-722-wrapper,
.vitamin-emg-109-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ironmg-722-wrapper {
  width: 154px;
  flex-direction: row;
  padding: 0 8px;
  box-sizing: border-box;
  text-align: left;
}
.vitamin-emg-109-parent {
  flex: 1;
  flex-direction: column;
  gap: 4px;
  min-width: 129px;
}
.fiberg-1161 {
  width: 198px;
  height: 39px;
  position: relative;
  line-height: 48px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 11;
}
.vitamin-b1mg-1 {
  flex: 1;
  position: relative;
  line-height: 39px;
  z-index: 8;
}
.fiberg-116-parent,
.frame-parent28,
.vitamin-b1mg-042-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vitamin-b1mg-042-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 9px;
}
.fiberg-116-parent,
.frame-parent28 {
  flex: 1;
}
.fiberg-116-parent {
  flex-direction: column;
  gap: 4px;
  min-width: 135px;
  margin-left: -9px;
}
.frame-parent28 {
  flex-direction: row;
  min-width: 257px;
  max-width: 100%;
  row-gap: 20px;
}
.vitamin-b2mg-1 {
  height: 39px;
  width: 198px;
  position: relative;
  line-height: 48px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 8;
}
.frame-parent27,
.if-you-havent-tried-anchovies {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent27 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: 35px;
}
.if-you-havent-tried-anchovies {
  width: 638px;
  flex-direction: column;
  align-items: flex-end;
  min-width: 638px;
  font-size: 20px;
}
.frame-parent26 {
  width: 1059px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: 20px;
  text-align: center;
  font-size: 30px;
}

.frame-parent25,
.rectangle-parent {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: auto;
 }
 
.frame-parent25 {
  width: 1405px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 20px;
  gap: 61px;
  max-width: 100%;
  margin-top: -4px;
  text-align: left;
  font-size: 20px;
}
.rectangle-parent {
  background-color: #fff;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 70px 0 0 0;
  max-width: 100%;
}
.card1 {
  display: flex; /* Make it a flex container */
  justify-content: flex-start; /* Align items to the start of the main axis */
  align-items: flex-start; /* Align items to the start of the cross axis */
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(217, 217, 217, 0.5);
  height: 300px;
  width: 350px;
  border-radius: 10px;
  flex-direction: row; /* Items are laid out in a row */
  font-family: Roboto;
  font-size: 12px;
  color: #000;
  position: relative;
  right: 220px;
  top: 50px
 }
 

.frame-parent24,
.home-page1 {
  position: relative;
  text-align: center;
  color: #000;
  font-family: Roboto;
}
.frame-parent24 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  max-width: 100%;
  font-size: 40px;
}
.home-page1 {
  width: 100%;
  background-color: #c6e7c5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: auto;
  box-sizing: border-box;
  letter-spacing: normal;
  font-size: 20px;
}

.back-button {
  position: absolute;
  top: 10px; /* Align to the top of the screen */
  left: 50px; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for the button's width */
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1000; /* Ensure it's above other content */
 }
 
 .back-button:hover {
  transform: translateX(-50%) scale(1.05);
  transition: transform 0.3s ease;
 }
 
 