.mastercook1,
.welcome-to-mastercook1 {
  position: relative;
  display: inline-block;
}
.mastercook1 {
  letter-spacing: -0.27px;
  line-height: 23px;
  min-width: 106px;
}
.welcome-to-mastercook1 {
  margin: 0;
  width: 258px;
  font-size: inherit;
  letter-spacing: -0.33px;
  line-height: 28px;
  font-weight: 700;
  font-family: inherit;
}
.welcome-to-mastercook-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 22px;
}
.text3,
.username1 {
  position: relative;
  text-align: left;
}
.username1 {
  align-self: stretch;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter;
  color: #121217;
}
.text3 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: Roboto;
  font-size: 14px;
  background-color: transparent;
  height: 20px;
  flex: 1;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 158px;
  padding: 0;
}
.textfield4 {
  width: 288px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 11px;
}
.password1,
.text4 {
  position: relative;
  text-align: left;
}
.password1 {
  align-self: stretch;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter;
  color: #121217;
}
.text4 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: Roboto;
  font-size: 14px;
  background-color: transparent;
  height: 20px;
  flex: 1;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 158px;
  padding: 0;
}
.textfield5 {
  width: 288px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 11px;
}
.form-fields-container,
.form-fields-container-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.form-fields-container {
  flex: 1;
  flex-direction: column;
  gap: 11px;
}
.form-fields-container-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 7px;
  box-sizing: border-box;
}
.title1 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: Roboto;
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.primary1 {
  cursor: pointer;
  border: 0;
  padding: 10px 20px;
  background-color: #000;
  align-self: stretch;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.primary1:hover {
  background-color: #333;
}
.new-to-foodie1 {
  width: 103px;
  position: relative;
  font-size: 14px;
  line-height: 21px;
  font-family: Inter;
  color: #636387;
  text-align: center;
  display: inline-block;
  min-width: 103px;
}
.new-to-foodie-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}
.frame-container,
.frame-group,
.primary-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.primary-group {
  width: 301px;
  gap: 12px;
}
.frame-container,
.frame-group {
  max-width: 100%;
}
.frame-container {
  margin: 0;
  align-self: stretch;
  gap: 46px;
}
.frame-group {
  width: 487px;
  gap: 58px;
}
.log-in-page,
.log-in-page-inner {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  color: #121217;
  font-family: Inter;
}
.log-in-page-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 0 131px;
  max-width: 100%;
  text-align: center;
  font-size: 22px;
}
.log-in-page {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 26px 51px 259px;
  gap: 139px;
  letter-spacing: normal;
  text-align: left;
  font-size: 18px;
}
@media screen and (max-width: 625px) {
  .frame-container {
    gap: 23px 46px;
  }
  .frame-group {
    gap: 29px 58px;
  }
  .log-in-page,
  .log-in-page-inner {
    padding-left: 65px;
    box-sizing: border-box;
  }
  .log-in-page {
    gap: 69px 139px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 450px) {
  .welcome-to-mastercook1 {
    font-size: 18px;
    line-height: 22px;
  }
  .log-in-page-inner {
    padding-left: 20px;
    box-sizing: border-box;
  }
  .log-in-page {
    gap: 35px 139px;
  }
}
