<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Recommendations</title>
</head>
<body>
    <h1>Recipe Search</h1>
    <form action="{{ url_for('search_results') }}" method="POST">
        <label for="recipe_title">Enter Recipe Title:</label><br>
        <input type="text" id="recipe_title" name="recipe_title"><br><br>
        <input type="submit" value="Search">
    </form>
    
    <h1>Pick Ingredients</h1>
    <form action="/recommendations" method="post">
        <h2>Vegetables:</h2>
        {% for vegetable in vegetables %}
        <input type="checkbox" name="ingredients" value="{{ vegetable }}"> {{ vegetable }}<br>
        {% endfor %}
        <h2>Meat:</h2>
        {% for m in meat %}
        <input type="checkbox" name="ingredients" value="{{ m }}"> {{ m }}<br>
        {% endfor %}
        <br>
        <input type="submit" value="Get Recommendations">
    </form>
</body>
</html>
